#chats {
    border-radius: 10px;
    position: absolute;
    margin-left: 4px;
    left: 0.5%;
    width: 83.5%;
    height: 98.5%;
    background-color: rgb(150, 155, 156);
}

#mainHeader {
    box-sizing: border-box;
    border-radius: 10px;
    text-indent: 15px;
    background-color: rgb(255, 255, 255);
    height: 8%;
}

#chatsHeader {
    box-sizing: border-box;
    margin-left: 5px;
    margin-top: 5px;
    width: 25%;
    height: 3%;
    border-radius: 10px;
    background-color: #204052;
    border: solid 5px #204052;
    text-align: center;
}

#openedChats {
    margin-left: 5px;
    position: absolute;
    width: 25%;
    height: 86%;
    overflow-y: auto;
}

.chatWindow {
    transform: scale(1);
    box-sizing: border-box;
    height: 4.5%;
    border-radius: 10px;
    margin-top: 5px;
    background-color: #3D5D6E;
    border: solid 8px #3D5D6E;
    transition: 0.2s;
}

.chatWindow:hover {
    transform: scale(0.98);
}

#activeChat {
    position: absolute;
    top: 8%;
    left: 26%;
    width: 73%;
    height: 92.5%;
}

.message {
    box-sizing: border-box;
    border: solid dimgray 15px;
    margin-left: 40px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: dimgray;
    display: table;
}

#messageList {
    height: 95%;
    overflow-y: auto;
}

.messageInput {
    position: absolute;
    left: 2%;
    width: 40%;
    height: 3%;
    font-size: 1vw;
    transition: 0.3s;
    outline: none;
    border-radius: 10px;
    outline: none;
}

.messageInput:focus {
    width: 90%;
    box-shadow: 0 0 0.6em #3D5D6E;
}
