#chats {
    border-radius: 10px;
    position: absolute;
    margin-left: 4px;
    left: 0.5%;
    width: 73.5%;
    height: 98.5%;
    background-color: rgb(150, 155, 156);
}

#chatsHeader {
    box-sizing: border-box;
    text-indent: 15px;
    background-color: rgb(255, 255, 255);
}

#openedChats {
    margin-left: 5px;
    position: absolute;
    width: 25%;
    height: 92.4%;
    overflow-y: auto;
}

.chatWindow {
    height: 26%;
    border-radius: 10px;
    margin-top: 5px;
    background-color: #3D5D6E;
}

#activeChat {
    position: absolute;
    left: 26%;
    width: 73%;
    height: 92.5%;
}

.message {
    margin-left: 40px;
    text-indent: 15px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: dimgray;
    width: 90%;
    height: 26%;
}

#messageList {
    height: 95%;
    overflow-y: auto;
}

.messageInput {
    position: absolute;
    left: 2%;
    width: 40%;
    height: 3%;
    font-size: 1vw;
    transition: 0.3s;
    margin-top: 5px;
    outline: none;
    border-radius: 10px;
}

.messageInput:focus {
    width: 70%;
    box-shadow: 0 0 0.6em #3D5D6E;
}